<%= render "shared/navbar", active_page: "about" %>
<div class="container mx-auto mt-8 md:mt-12 mb-20 prose px-10 md:px-0">
  <h1><span class="text-gray-700">What even is this?</span></h1>
  <p>Hi, I'm <%= link_to "Elliot", "https://twitter.com/lingonberry", target: "_blank" %>, a full stack web application developer living in San Francisco, CA with my daughter.  This is a weekend art project I've been messing around with for a bit.</p>
  <p>I'd love to say I have some meaningful explanation for all of this, but the reality is helloBugs is just a hodgepodge of ideas I had around the same time.  It started with a vector drawing I did of a beetle.  I love bugs.  Evolution has created some fascinating and beautiful things.  Some insects are truly living art.</p>
  <p>I also love color, and I wanted to play around with some interesting color schemes I'd collected.  It dawned on me that the beetle might be a good canvas for experimentation.</p>
  <p>While playing with the design I thought it would be funny if the bugs said something.  You know, like, "hello". I mean, it's not ha-ha-funny, but somehow it amused the hell out of me at the time so I rolled with it.</p>
  <p>But, then I got bored just seeing the word "hello" over and over again, so I had the idea of using different languages.  I really liked the way the letter forms of the different written languages gave the bugs some unique character.</p>
  <p>This got me thinking about QR codes as unique identifiers.  There's something visually interesting about them, but also I love how the shape can be scanned and translated into a URL.  This lead me to think it would be funny if the bugs had their own web pages, so maybe they could say hello to other people.  And, yeah... here we are.</p>
  <p>The first collection of bugs is 111 beetles.  It's been a fun project, and I'd like to produce more.  I'm thinking of designing some additional batches with different insects, color schemes, and I'd like to integrate some 3D and generative design technologies.</p>
  <p>If you found this compelling at all, check back in from time to time and see if a new batch is available.</p>
</div>
