<%= render "shared/navbar", active_page: "about" %>
<div class="container mx-auto prose mt-12 mb-12">
  <h1><span class="text-gray-700">Test</span></h1>
  <%= link_to "Test File", "https://files.hellobu.gs/0LaOwdae.pdf" %>
</div>
